<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/addcategory.css">
  


</head>

</head>

<body>

  <%- include ("layout.ejs") %>
  
  <div class="container font"><br />
    <p>แบบฟอร์มบันทึกประเภทสินค้า</p>
    
    <form action="/addcategory/addCategories" method="post">
      <div class="form-group">
        <label for="">ชื่อประเภทสินค้า</label>
        <input type="text" name="categoryName" value="" class="form-control" id="addCategories">
      </div>
      <input type="submit" value="บันทึกข้อมูล" class="btn btn-success">
    </form> 
  </div> 
  

</body>

</html>