<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  -->


  <link href='https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin' rel='stylesheet' type='text/css'>
  <script src="/javascripts/photoUpload.js"></script>
</head>

<body>

  <%- include ("layout.ejs") %>

  <div class="container font">
    <div class="form-group" style="width:100% ;">
      <h4 style="text-align: center;font-size:20px;padding: 25px; ">แบบฟอร์มบันทึกสินค้า</h4>
      <hr />


      <form name="addproduct" action="/addproduct/addProducts" method="POST" enctype="multipart/form-data">
        <div class="input">
          <label for="">ชื่อสินค้า</label>
          <input type="text" name="menuName" class="form-control"
            required placeholder="ชื่อสินค้า" />

          <div class="input">
            <label>ประเภทสินค้า</label>
            <select name="select_category" class="form-control form-control-sm" >
              <% categoriesList.forEach((categories) => { %>
              <option value="<%= categories.categoryId %>"> <%= categories.categoryName %></option>
              <% }); %>
            </select>
          </div>

          <div class="row-sm-12">
            <label>รายละเอียดสินค้า</label>
            <textarea name="menuDetails" class="form-control" rows="3" required
              placeholder="รายละเอียดสินค้า"></textarea>
          </div>

          <div class="col-sm-2" style="display: inline-block;">
            <label>ราคา (บาท)</label>
            <input type="number" name="price" class="form-control" required placeholder="ราคา" />
          </div>
          <div class="col-sm-5 info" style="display: inline-block;">
           <label>ภาพสินค้า</label>
            <input type="file" name="menuImg" class="form-control"/>
          </div>

          <div class="col-sm-12">
            <button type="submit" class="btn btn-success" name="btnadd"> + เพิ่มสินค้า </button>
          </div>

      </form>
    </div>
  </div>



</body>

<style>
  .font {
    font-family: kanit;
  }

  .form-control {
    width: 100% !important;
    margin-bottom: 20px;
  }
</style>

</html>